<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/project-add-post" method="POST">
  	  <label>Enter Title
  	  	<input type="text" name="title">
  	  </label>
  	  <br>
  	  <br>
  	  Enter Description<br>
  	  <textarea rows="5" cols="50" name="description"></textarea>
  	  <br>
  	  <br>
      <label>Enter Maximum Grade
          <input type="number" name="max_grade">
      </label>
      <br>
      <br>
      <input type="submit" value="Add Project">
  </form>
</body>
</html>